@import "tailwindcss";

@import "./theme.css";
@import "./utilities.css";
@import "./cookie-banner.css";
@source inline('grid-cols-{0..12}');

html {
  font-size: 10px;
  font-family: var(--font-body);
  color: var(--color-brown);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-variant-numeric: tabular-nums;
  overscroll-behavior: none;
  font-synthesis: none;
}

body {
  background-color: var(--color-background);
  font-variant-numeric: oldstyle-nums;
  overscroll-behavior: none;
  overflow-x: hidden;
}

section,
footer,
.sections {
  position: relative;
}

/* STANDARD PREVIEW-SANITY STYLING */

.preview-toggle {
  backdrop-filter: blur(12px);
  border-radius: 0.25rem;
  bottom: 1rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: #1f2937;
  display: block;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  position: fixed;
  right: 1rem;
  text-align: center;
  text-decoration: none;
  z-index: 50;
}

.preview-toggle:hover {
  background-color: #ef4444;
  color: #ffffff;
}

.preview-toggle span:first-child {
  display: block;
}
.preview-toggle:hover span:first-child {
  display: none;
}

.preview-toggle span:last-child {
  display: none;
}
.preview-toggle:hover span:last-child {
  display: block;
}

.trimmed {
  text-box: trim-both cap alphabetic;
}

::-webkit-scrollbar {
  width: 0;
  background-color: #efefef;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: black;
}
