@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "FK Screamer Legacy";
  src: url("/fonts/FKScreamerLegacy-Slanted.woff2") format("woff2");
  font-weight: 700;
  font-display: block;
  font-style: normal;
}

@theme {
  --font-mono: "DM Mono", "Helvetica Neue", sans-serif;
  --font-sans: "DM Sans", "Helvetica Neue", sans-serif;
  --font-slanted: "FK Screamer Legacy", "Helvetica Neue", sans-serif;

  --text-*: initial;

  --text-xs: 1rem;
  --text-xs--line-height: 1.6;

  --text-s: 1.6rem;
  --text-s--line-height: 1.4;

  --text-md: clamp(1.6rem, 2.151vw, 2.4rem);
  --text-md--line-height: 1.2;
  --text-m-md: 2.4rem;
  --text-m-md--line-height: 1.2;

  --text-l: clamp(2.2rem, 1.852vw, 3.2rem);
  --text-l--line-height: 1.2;
  --text-m-l: 2.2rem;
  --text-m-l--line-height: 1.2;

  --text-xl: clamp(2.6rem, 2.315vw, 4rem);
  --text-xl--line-height: 1;
  --text-xl--letter-spacing: 0.02em;
  --text-m-xl: 2.6rem;
  --text-m-xl--line-height: 1;
  --text-m-xl--letter-spacing: 0.02em;

  --text-2xl: clamp(3rem, 4.167vw, 7.2rem);
  --text-2xl--line-height: 1;
  --text-2xl--letter-spacing: -0.01em;
  --text-m-2xl: clamp(2.5rem, 4.167vw, 3rem);
  --text-m-2xl--line-height: 1;
  --text-m-2xl--letter-spacing: -0.01em;

  --text-3xl: clamp(4rem, 5.376vw, 12rem);
  --text-3xl--line-height: 1;
  --text-m-3xl: 4rem;
  --text-m-3xl--line-height: 1;

  --text-5xl: 20rem;
  --text-5xl--line-height: 1;
  --text-m-5xl: 10.4rem;
  --text-m-5xl--line-height: 1;

  --text-6xl: 18.519vw;
  --text-6xl--letter-spacing: -0.01em;
  --text-6xl--line-height: 0.9;
  --text-m-6xl: clamp(8rem, 13.978vw, 16rem);
  --text-m-6xl--line-height: 1;

  --text-francotitle: 36vw;
  --text-francotitle--letter-spacing: -0.01em;
  --text-francotitle--line-height: 1;

  --text-call-franco: clamp(8rem, 25.231vw, 60rem);
  --text-call-franco--line-height: 1;
  --text-m-call-franco: 8rem;
  --text-m-call-franco--line-height: 1;

  --color-*: initial;
  --color-white: #f5f5f5;
  --color-black: #191919;
  --color-accent: #fc3852;
  --color-yellow: #fff000;
  --color-dark-gray: #191919;
  --color-gray: #f8f8f8;
  --color-gray-banner: #d1d1d1;

  --spacing: 0.8rem;

  --default-transition-duration: 300ms;
  --duration-fast: 150ms;

  --radius-*: initial;
  --radius-xs: 0.5rem;
  --radius-s: 1rem;
  --radius-m: 2.4rem;
  --radius-l: 4rem;

  --breakpoint-3xl: 1920px;
}
